<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.srj.web.datacenter.news.mapper.NewsMapper">
	<!--查询列表-->
	<select id="findPageInfo" parameterType="com.srj.web.datacenter.news.model.News" resultType="com.srj.web.datacenter.news.model.News">
		SELECT
			*
		FROM
			news
		<where>
		1 = 1
		<if test="@Ognl@isNotBlank(title)">
	 		and title = #{title}
	    </if>
		</where>
		ORDER BY
			news_time DESC
	</select>
	
	<!-- 按照来源倒叙排列 -->
	<select id="selectBySource" resultType="com.srj.web.datacenter.news.model.News">
		SELECT * from news 
		where source = #{source}
		ORDER BY
			news_time DESC limit 1
	</select>
	<!--取出新闻总数量-->
	<select id="totalNewsNumber">
		SELECT count(*) from news
	</select>

	<!-- 插入new_keyword中间表 -->
	<insert id="insertNewKeyword">
		insert IGNORE into new_keyword (new_id,keyword_id,create_time) values
		<foreach collection="newKeys" index="index" item="newKey" separator=",">
			(#{nid},#{kid,jdbcType=NUMERIC},#{createTime})
		</foreach>
	</insert>

	<!-- 一千条循环取新闻 -->
	<select id="getPageNewsOneK" resultType="com.srj.web.datacenter.news.model.News">
		SELECT * FROM news limit #{start},#{size}
	</select>

	<!-- 根据new_id,keyword_id-->
	<select id="selectByNewIdAndKeyId" resultType="java.lang.Long">
		SELECT id from new_keyword where new_id=#{new_id} and keyword_id=#{keyword_id}
	</select>
</mapper>