<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.srj.web.datacenter.stock.mapper.StockMapper">
	<!--查询用户列表-->
	<select id="findPageInfo" parameterType="com.srj.web.datacenter.stock.model.Stock" resultType="com.srj.web.datacenter.stock.model.Stock">
		SELECT
			id,
			CODE,
			NAME,
			industry,
			area
		FROM
			stock
		<where>
		1 = 1
		<if test="@Ognl@isNotBlank(code)">
	 		and code = #{code}
	    </if>
	    <if test="@Ognl@isNotBlank(name)">
		 	and name like concat('%',#{name} ,'%')
		</if>
		</where>
		ORDER BY
			id DESC
	</select>
	
	<select id="findStockIdByCode" parameterType="java.lang.String" resultType="java.lang.String">
		select id FROM stock where code = #{code}
	</select>
	
	<select id="getAll" resultType="com.srj.web.datacenter.stock.model.Stock">
		select * FROM stock
	</select>
	
	<!-- <update id="updateStockSet">
		update stock_set set huge = #{huge},large=#{large},middle=#{middle},small=#{small}
		<where>
			stock_id = #{stock_id}
		</where>
	</update> -->
	<!-- 设置大中小单的值，不存在则插入存在则更新 -->
	<update id="updateStockSet">
		INSERT INTO stock_set (stock_id,huge,large,middle,small) VALUES (#{id},#{huge},#{large},#{middle},#{small})
        ON DUPLICATE KEY UPDATE huge = #{huge},large=#{large},middle=#{middle},small=#{small}
	</update>
	
	<select id="selectSettingById" resultType="com.srj.web.datacenter.stock.model.StockSet">
		SELECT * from stock_set
		<where>
			stock_id = #{_parameter}
		</where>
	</select>
	
</mapper>