<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.srj.web.datacenter.news.mapper.NewsMapper">
	<!--查询列表-->
	<select id="findPageInfo" parameterType="com.srj.web.datacenter.news.model.News" resultType="com.srj.web.datacenter.news.model.News">
		SELECT
			*
		FROM
			news
		<where>
		1 = 1
		<if test="@Ognl@isNotBlank(title)">
	 		and title = #{title}
	    </if>
		</where>
		ORDER BY
			news_time DESC
	</select>
	
	<!-- 按照来源倒叙排列 -->
	<select id="selectBySource" resultType="com.srj.web.datacenter.news.model.News">
		SELECT * from news 
		where source = #{source}
		ORDER BY
			news_time DESC limit 1
	</select>
</mapper>