<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.srj.web.datacenter.article.mapper.ArticleMapper">
	<!--查询用户列表-->
	<select id="findPageInfo" parameterType="com.srj.web.datacenter.article.model.Article" resultType="com.srj.web.datacenter.article.model.Article">
		SELECT
			a.id,
			a.title,
			a.create_name,
			a.create_time,
			GROUP_CONCAT(c.name) as keywords
		FROM
			article a 
			LEFT JOIN article_keyword b ON a.id = b.a_id
			LEFT JOIN keyword c ON b.k_id = c.id
		<where>
			1 = 1
			<if test="@Ognl@isNotBlank(title)">
		 	and a.title like concat('%',#{title} ,'%')
		    </if>
		</where>
		GROUP BY a.id DESC
		ORDER BY a.id DESC
	</select>
	
	<!-- 插入article_keyword中间表 -->
	<insert id="insertArticleKeyword">
		insert IGNORE into article_keyword (a_id,k_id) values 
		<foreach collection="kids" index="index" item="kid" separator=",">
			(#{id},#{kid,jdbcType=NUMERIC})
		</foreach>
	</insert>
	
	<!-- 删除中间表 -->
	<delete id="deleteArticleKeyword">
		delete from article_keyword
		where a_id = #{id}
	</delete>
	

</mapper>