<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.srj.web.datacenter.article.mapper.KeywordMapper">
	<!--查询列表-->
	<select id="findPageInfo" parameterType="com.srj.web.datacenter.article.model.Keyword" resultType="com.srj.web.datacenter.article.model.Keyword">
		SELECT
			id,
			NAME,
			create_name,
			create_time
		FROM
			keyword
		<where>
			1 = 1
			<if test="@Ognl@isNotBlank(name)">
		 	and name like concat('%',#{name} ,'%')
		    </if>
		</where>
		ORDER BY
			id DESC
	</select>
	
	<!-- 用name匹配查询关键词 -->
	<select id="checkKeyword" parameterType="com.srj.web.datacenter.article.model.Keyword" resultType="com.srj.web.datacenter.article.model.Keyword">
		SELECT id,name FROM keyword
		<where>
			name = #{title}
		</where>
	</select>
	
	<!-- 获取所有关键词 -->
	<select id="getAllKeyword" resultType="com.srj.web.datacenter.article.model.Keyword">
		SELECT id,name from keyword
	</select>
	

</mapper>