<div>
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#home" data-toggle="tab">菜单列表</a>
		</li>
	</ul>

	<div class="matter">
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="home">
				<div class="content_wrap">
					<div class="zTreeDemoBackground left">
						<ul id="treeDemo" class="ztree"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	<!--
	var setting = {
		view: {
			selectedMulti: false
		},
		check: {
			enable: true
		},
		data: {
			simpleData: {
				enable: true
			}
		},
		callback: {
			beforeCheck: beforeCheck,
		}
	};

	/* var zNodes =[
		{ id:1, pId:0, name:"随意勾选 1", open:true},
		{ id:11, pId:1, name:"随意勾选 1-1"},
		{ id:12, pId:1, name:"随意勾选 1-2", open:true},
		{ id:121, pId:12, name:"随意勾选 1-2-1"},
		{ id:122, pId:12, name:"随意勾选 1-2-2"}
	]; */
	var zNodes = ${params.menuList!};

	var code, log, className = "dark";	function beforeCheck(treeId, treeNode) {

		className = (className === "dark" ? "":"dark");

		return (treeNode.doCheck !== false);
	}



	function checkNode(e) {
		var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
				type = e.data.type,
				nodes = zTree.getSelectedNodes();
		if (type.indexOf("All")<0 && nodes.length == 0) {
			alert("请先选择一个节点");
		}

		if (type == "checkAllTrue") {
			zTree.checkAllNodes(true);
		} else if (type == "checkAllFalse") {
			zTree.checkAllNodes(false);
		} else {
			var callbackFlag = $("#callbackTrigger").attr("checked");
			for (var i=0, l=nodes.length; i<l; i++) {
				if (type == "checkTrue") {
					zTree.checkNode(nodes[i], true, false, callbackFlag);
				} else if (type == "checkFalse") {
					zTree.checkNode(nodes[i], false, false, callbackFlag);
				} else if (type == "toggle") {
					zTree.checkNode(nodes[i], null, false, callbackFlag);
				}else if (type == "checkTruePS") {
					zTree.checkNode(nodes[i], true, true, callbackFlag);
				} else if (type == "checkFalsePS") {
					zTree.checkNode(nodes[i], false, true, callbackFlag);
				} else if (type == "togglePS") {
					zTree.checkNode(nodes[i], null, true, callbackFlag);
				}
			}
		}
	}

	function setAutoTrigger(e) {
		var zTree = $.fn.zTree.getZTreeObj("treeDemo");
		zTree.setting.check.autoCheckTrigger = $("#autoCallbackTrigger").attr("checked");
		$("#autoCheckTriggerValue").html(zTree.setting.check.autoCheckTrigger ? "true" : "false");
	}

	$.fn.zTree.init($("#treeDemo"), setting, zNodes);
	$("#checkTrue").bind("click", {type:"checkTrue"}, checkNode);
	$("#checkFalse").bind("click", {type:"checkFalse"}, checkNode);
	$("#toggle").bind("click", {type:"toggle"}, checkNode);
	$("#checkTruePS").bind("click", {type:"checkTruePS"}, checkNode);
	$("#checkFalePS").bind("click", {type:"checkFalsePS"}, checkNode);
	$("#togglePS").bind("click", {type:"togglePS"}, checkNode);
	$("#checkAllTrue").bind("click", {type:"checkAllTrue"}, checkNode);
	$("#checkAllFalse").bind("click", {type:"checkAllFalse"}, checkNode);

	$("#autoCallbackTrigger").bind("change", {}, setAutoTrigger);
	//--
</SCRIPT>