

<script type="text/javascript">
$(document).ready(function(){
	$("#browser").treeview({
		toggle: function() {
			console.log("%s was toggled.", $(this).find(">span").text());
		}
	});

	$("#add").click(function() {
		var branches = $("<li><span class='folder'>New Sublist</span><ul>" +
			"<li><span class='file'>Item1</span></li>" +
			"<li><span class='file'>Item2</span></li></ul></li>").appendTo("#browser");
		$("#browser").treeview({
			add: branches
		});
	});
});
</script>


<div class="matter">
	<div class="widget-head">
		<div class="widget">
			<div class="widget-head">
				<div class="pull-left">搜索框</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i> </a>
					<a href="#" class="wclose"><i class="icon-remove"></i> </a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="widget-content">
				<div class="padd">
					<div class="form quick-post">
						<!-- Edit profile form (not working)-->
						<form class="form-horizontal" action="${ctxPath}/menu/list"
							method="post" id="search-form" target="list-page">
							<!-- search -->
							<div class="form-group">
								<label class="control-label col-lg-3">姓名</label>
								<div class="col-lg-9">
									<input type="text" name="name" /> <input type="text"
										onclick="getTotalList('search-form','search-btn')"
										class="btn btn-success" value="全部" readonly /> <input
										type="text" id="search-btn" class="btn btn-success"
										value="条件查询" readonly />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="widget-body">
			<div class="widget-main padding-8">
				<div class="row">
					<div class="col-sm-3">
						<div>
							<ul id="browser" class="filetree">
								<li><span class="folder">Folder 1</span>
									<ul>
										<li><span class="file">Item 1.1</span>
										</li>
									</ul></li>
								<li><span class="folder">Folder 2</span>
									<ul>
										<li><span class="folder">Subfolder 2.1</span>
											<ul id="folder21">
												<li><span class="file">File 2.1.1</span>
												</li>
												<li><span class="file">File 2.1.2</span>
												</li>
											</ul></li>
										<li><span class="file">File 2.2</span>
										</li>
									</ul></li>
								<li class="closed"><span class="folder">Folder 3
										(closed at start)</span>
									<ul>
										<li><span class="file">File 3.1</span>
										</li>
									</ul></li>
								<li><span class="file">File 4</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-9" id="list-page"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$("#search-form").getPageList({'submitBtnId':'search-btn'});
 </script>