<script type="text/javascript">
$('#excelKey').uploadify({
     'swf': '${ctxPath}/static/uploadify/scripts/uploadify.swf',
     'uploader':"${ctxPath}/stockEnter/upload",
	'fileObjName' : 'excel',
	'buttonText' : '请选择上传文件', //控件上显示的内容
	'auto' : false, //选定文件后是否自动上传，默认false
	'fileTypeDesc' : 'xlsx文件或xls文件', //出现在上传对话框中的文件类型描述
	'fileTypeExts' : '*.xlsx;*.xls', //控制可上传文件的扩展名，启用本项时需同时声明fileDesc
	'sizeLimit': 86400, //控制上传文件的大小，单位byte
	'uploadLimit' :1, //多文件上传时，同时上传文件数目限制
	'onQueueComplete' : function(queueData) {  
          alert(queueData.uploadsSuccessful + ' 个文件上传成功');  
          $("#search-form").getPageList({'submitBtnId':'search-btn'});
          location.reload();
       } 
});
</script>

<div>
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#home" data-toggle="tab">行情列表</a>
		</li>
		<li><a href="#addUser" data-toggle="tab">导入行情</a></li>
	</ul>

	<div class="matter">
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="home">
				<div class="widget-head">
					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">搜索框</div>
							<div class="widget-icons pull-right">
								<a href="#" class="wminimize"><i class="icon-chevron-up"></i>
								</a> <a href="#" class="wclose"><i class="icon-remove"></i> </a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="widget-content">
							<div class="padd">
								<div class="form quick-post">
									<!-- Edit profile form (not working)-->
									<form class="form-horizontal" action="${ctxPath}/stockPrice/list"
										method="post" id="search-form" target="list-page">
										<!-- search -->
										<div class="form-group">
											<div class="col-lg-9">
											<label class="control-label">名称：</label>
											<input type="text" name="name" /> 
											<label class="control-label">编码：</label>
											<input type="text" name="code" /> 
												<input type="text"
													onclick="getTotalList('search-form','search-btn')"
													class="btn btn-success" value="全部" readonly /> <input
													type="text" id="search-btn" class="btn btn-success"
													value="条件查询" readonly />
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div id="list-page"></div>
				</div>
			</div>
			<div class="tab-pane fade" id="addUser">
				<div class="widget wgreen">
					<div class="widget-head">
						<div class="pull-left">新增</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget-content">
						<div class="padd">
							<table class="table table-bordered">
								<tr>
								<td style="width: 80%">
								<input type="file" size="30" id="excelKey" />
								<a href="javascript:$('#excelKey').uploadify('upload','*')">
								<style>
					            .uploadify-button{background:green;color:#fff}
					            .uploadify:hover .uploadify-button{background:transparent;color:red}
					            </style>
								 <span class="btn btn-info btn-sm width-100 bigger-120">开始上传</span> 
								</a>
								</td>
								<td style="width: 20%;text-align: center;padding-top: 26px;">
								<span class="glyphicon glyphicon-download-alt btn btn-success" onclick="downloadModel()">下载模板</span>
								</tr>
							</table>
						</div>
					</div>
					<div class="widget-foot">
						<!-- Footer goes here -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$("#search-form").getPageList({'submitBtnId':'search-btn'});
function downloadModel(){
	window.open("download/model?model=stockPrice").focus();
}
 </script>